body{
    background-image: url(images/back.jpg);
    text-align: center;
}
#nav-div{
    border: 2px rgb(151, 146, 146) solid;
    border-radius: 25px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.i{
    color: white;
}
#token{
    margin-top: 5%;
}
.icoin{
    font-size: 40px;
    color: rgb(251, 255, 0);
}
.span{
    font-size: 40px;
    color: yellow;
    font-family: 'Courier New', Courier, monospace;
}
#tok{
    margin-top: 25%;
}
#img1{
    width: 200px;
    border-radius: 50%;
}